{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block body %}

        <form action="/add" class="center-form" method="post">

            <select name="type">
                <option disabled selected value="">Type</option>
                {% for type in types %}
                    <option> {{ type }} </option>
                {% endfor %}
            </select>

            <input autocomplete="off" autofocus name="description" placeholder="Task Description" type="text">

            <!--Note how to add placeholder to dates via the onfocus this.type function-->
            <input type="text" name="duedate" onfocus="(this.type='datetime-local')" placeholder="Due Date">

            <select name="priority">
                <option disabled selected value="">Priority</option>
                {% for priority in priorities %}
                    <option> {{ priority }} </option>
                {% endfor %}
            </select>

            <button type="submit">Add Task</button>
        </form>


{% endblock %}
