{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}

    <form action="/changedpassword" method="post">
        <input autocomplete="off" autofocus name="currentpassword" placeholder="Current Password" type="password">
        <input autocomplete="off" name="newpassword1" placeholder="New Password" type="password">
        <input autocomplete="off" name="newpassword2" placeholder="Re-enter New Password" type="password">
        <button type="submit">Change Password</button>
    </form>


{% endblock %}
